body {
    background-color: rgb(255, 245, 243);
}
  
.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.login-form-field {
    max-width: 25rem;
    margin: auto;
}