/* redirect-button.css */
.redirect-button {
    display: block;
    width: calc(100% - 40px);
    padding: 10px 20px;
    background-color: rgb(232, 90, 79);
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
  }
  
  .redirect-button:hover {
    background-color: rgb(220, 80, 70);
  }
  