.sidebar {
  width: 250px;
  background-color: rgb(232, 90, 79);
  color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  
}

.sidebar-content {
  flex-grow: 1;
  overflow-y: auto; 
}

.menu-text {
  text-align: center; /* Center horizontally */
  align-self: center; /* Center vertically */
  padding: 10px 0; /* Add padding as needed */
  padding-top: 60px; 
}

.bar {
  width: 60%; /* 60% of sidebar width */
  height: 2px; /* 2 pixels height */
  background-color: rgb(202, 70, 59); /* Slightly lighter than (232, 90, 79) */
  align-self: center; /* Center vertically */
  margin: 10px auto; /* Add spacing as needed */
}